<!DOCTYPE html>
<html  ng-app="taskManagerApp" lang="en">
<head>
  <title>To-Do</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  
  <link rel="stylesheet" href="assets/css/bootstrap.css">	
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <script data-require="angular.js@*" data-semver="1.2.13" src="https://code.angularjs.org/1.2.13/angular.js"></script>
  <script data-require="angular-animate@*" data-semver="1.2.13" src="https://code.angularjs.org/1.2.13/angular-animate.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="assets/img/logo.png" alt="To-Do">
    <p>To-Do</p>
  </a>
  <p class="device-notification--message">To-Do has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>
<div ng-controller="taskManagerController">
<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="assets/img/logo.png" alt="To-Do">
            <p>To-Do</p>
          </a>
          <button class="header--cta cta">Sign Up</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
      </header>


        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Add Tasks</span></li>
            <li><span>Update Tasks</span></li>
            <li><span>View Tasks</span></li>
            <li><span>Sign Up/Login</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Your To-Do<br>interactive<br>experience</h1>
                <button class="cta">Sign Up
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="assets/img/todo.jpg" style="width:40%;height: 80%;background: white; margin-bottom: 50px;" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Any title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#0">
                  <h3>Any title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#0">
                  <h3>Any title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Add Task</h2>
              <form id="myForm" class="work-request">
                  <div class="work-request--information">
                  <div class="information-name">
                    <input id="Task" type="text" ng-model="taskName"spellcheck="false">
                    <label for="Task">Task</label>
                  </div>
                  <div class="information-name">
                    <!-- <input placeholder="" class="textbox-n" type="text"  id="Priority" spellcheck="false" ng-model="taskPriority">
                    <label for="Priority">Priority</label> -->
                    <select id="dark-select-options" ng-model="taskPriority" ng-options="priority as priority for priority in priorities">
								<option value="">-- Select Priority --</option>
					</select>
                  </div>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="Description" type="text" spellcheck="false" ng-model="taskDesc">
                    <label for="Description">Description</label>
                  </div>
                  <div class="information-name">
                    <!-- <input id="Status" type="text" spellcheck="false" ng-model="taskStatus">
                    <label for="Status">Status</label> -->
                    <select id="dark-select" ng-model="taskStatus" ng-options="status as status for status in statuses">
								<option value="">-- Select Status --</option>						
					</select>
                  </div>
                </div>
                  <input type="submit" ng-click="addTask()" value="add">
              </form>
            </div>
          </li>
          
          
          <li class="l-section section">
          	<h2 id="locate-h2">Update Task</h2>
	           <div class="about">	             
	            <div ng-if="queryFlag==true" style="padding-top: 20px;">  
	              <form class="work-request">
	                 <div class="work-request--information">
	                  <div class="information-name">
	                    <input id="TaskId" type="text" ng-model="input.taskId" spellcheck="false" placeholder="Enter a Task Id">
	                  </div>	                  
	                </div>
	                 <input type="submit" ng-click="searchTask()" value="Search">
	               </form>
	               </div>
	               <div ng-if="taskFlag==true" style="padding-top: 20px;">              
		              <form class="work-request">
		                 <div class="work-request--information">
		                  <div class="information-name">
		                  	<span>Task</span>
		                    <input id="TaskUpdate" type="text" ng-model="taskData.taskName"spellcheck="false">
		             
		                  </div>
		                  <div class="information-name">
		                  	<span>Priority</span>	
		                    <input type="text"  id="TaskPriority" spellcheck="false" ng-model="taskData.taskPriority">
		                  </div>
		                </div>
		                <div class="work-request--information">
		                  <div class="information-name">
		                  	<span>Description</span>
		                    <input id="UpdateDescription" type="text" spellcheck="false" ng-model="taskData.taskDescription">
		           
		                  </div>
		                  <div class="information-name">
		                  	<span>Status</span>
		                    <input id="UpdateStatus" type="text" spellcheck="false" ng-model="taskData.taskStatus">
		                  </div>
	                	</div>             
		                <input type="submit" ng-click="updateTask()" value="Update" style="margin-top: 15px;">
		                <input type="submit" ng-click="displaySearch()" value="Close" style="margin-top: 15px;">
		              </form>
		              </div>   
            </div>
          </li>
          
          
          
          <li class="l-section section">
          	<div class="adjust-table">             	
	             <table class="table" border="1">
	            	  <thead>
				        <tr>
				            <th>Id</th>
				            <th>Name</th>
				            <th>Description</th>
				            <th>Priority</th>
				            <th>Status</th>
				            <th>Start Time</th>
				            <th>End Time</th>
				            <th></th>
				        </tr>
				     </thead>
				     <tbody>
						  <tr ng-repeat="task in tasks">
						    <td ng-click="changeId(task.taskId)"> {{ task.taskId }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskName }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskDescription }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskPriority }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskStatus }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskStartTime }}</td>
						    <td ng-click="changeId(task.taskId)">{{ task.taskEndTime }}</td>
						    <td ng-click="archiveTasks(task.taskId)">Delete</td>
						    
						  </tr>
					 </tbody>
				</table> 
				
			</div>
          </li>
          
          <li class="l-section section">
            <div class="work">
              <h2>What you can do</h2>
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Add Tasks
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                     Update Tasks
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                     Track Tasks
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                     View All Tasks
                    </label>
                    
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="Email" type="text" spellcheck="false">
                    <label for="Email">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="password" type="password">
                    <label for="Password">Password</label>
                  </div>
                </div>
                <input type="submit" value="Sign Up">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Add Tasks</li>
    <li id="changePath">Update Tasks</li>
    <li>Search Tasks</li>
    <li>Sign Up</li>
  </ul>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/functions-min.js"></script>
</body>
</html>
