@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

.adjust-table{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 8%;
}

#locate-h2{
	position: absolute;
	left:42%;
	top:10%;
}

#dark-select{
	background: black;
	font-size: 21px;
	width:100%;
}

#dark-select-options{
	background: black;
	font-size: 21px;
	width:100%;
}